<div class="umb-infobox" ng-controller="UmbracoDeploy.AddWorkspaceController as addWorkspaceVm">
    <div class="umb-infobox-content">
        <h4 class="umb-infobox-title">Add a workspace</h4>
        <p>
            Add a private workspace where you and your team can test
            changes before they are sent to the Live website.
        </p>
        <p>
            After the workspace is added, all changes from your local machine is sent to the testing workspace
        </p>
        <br>
        <button ng-click="addWorkspaceVm.openAddEnvironment()" class="umb-era-button -blue">Add workspace</button>
    </div>
</div>