<div class="ud-merge-conflict-error">
    <h4 class="bold color-blue">Merge Conflict</h4>
    <p>
        The following file found contains the merge conflict that needs to be fixed with your Git merge tool of choice:<br />
        <pre>/data/revisions/{{exception.FileName}}</pre>
    </p>
    <h4 class="ud-merge-conflict-error__header">How did I get a merge conflict?</h4>
    <p>
        A common merge conflict happens when yourself or another developer adds a new property to a document type directly on the Cloud site and you
        forget to pull down the latest changes from the Git repository and decide to work on the same document type locally.
    </p>
    <p>
        Unsure how to fix a merge conflict, then <a href="https://help.github.com/articles/resolving-a-merge-conflict-using-the-command-line/" target="_blank">GitHub has a great guide on this</a>
    </p>
</div>