@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<html lang="en">
    <head>
        <title>Block Grid Examples</title>
        <link rel="stylesheet" href="@Url.Content("~/css/myblockgridlayout.css")" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>

