<div ng-cloak>

    <div style="max-width: 1160px; margin-left: auto; margin-right: auto;">

        <div class="flex items-center justify-center ud-workspaces" style="position: relative;">

            <ud-workspace
                ng-repeat="workspace in dashboardWorkspaces"
                on-click="selectWorkspace(workspace, dashboardWorkspaces)"
                name="workspace.Name"
                type="workspace.Type"
                deploy-progress= "deploy.deployProgress"
                current="workspace.Current"
                active="workspace.Active"
                is-last="$last"
                show-details-arrow="workspace.Active">
            </ud-workspace>

        </div>

    </div>

    <div>

        <ud-infobox ng-switch="workspaceInfobox">

            <!-- Default -->
            <div ng-switch-default>
                <umb-load-indicator></umb-load-indicator>
            </div>

            <!-- Deploy -->
            <div ng-switch-when="deploy">

                <ud-deploy-queue
                    ng-if="!deploy.status && isFeedbackMessageLevelSet"
                    target-url="config.Target.Url"
                    target-name="config.Target.Name"
                    is-local="config.IsLocalWorkspace"
                    user-feedback-level="feedbackMessageLevel"
                    enable-work-item-logging="enableWorkItemLogging"
                    on-deploy-start-success="onDeployStartSuccess(data)">
                </ud-deploy-queue>

                <ud-deploy-progress
                    ng-if="deploy.status === 'inProgress'"
                    progress="deploy.deployProgress"
                    target-name="config.Target.Name"
                    current-activity="deploy.currentActivity"
                    timestamp="deploy.timestamp"
                    server-timestamp="deploy.serverTimestamp">
                </ud-deploy-progress>

                <ud-deploy-complete
                    ng-if="deploy.status === 'completed'"
                    target-name="config.Target.Name"
                    target-url="config.Target.Url"
                    on-back="resetDeploy()"
                    timestamp="deploy.timestamp"
                    server-timestamp="deploy.serverTimestamp"
                    solved-mismatches="solvedMismatches">
                </ud-deploy-complete>

                <ud-error
                    ng-if="deploy.error.hasError"
                    comment="deploy.error.comment"
                    log="deploy.error.log"
                    exception="deploy.error.exception"
                    status="deploy.status"
                    operation="deploy"
                    on-back="resetDeploy()"
                    on-debug="showDebug()"
                    timestamp="deploy.timestamp"
                    server-timestamp="deploy.serverTimestamp"
                    show-debug="deploy.showDebug"
                    feedback-message-level="feedbackMessageLevel">
                </ud-error>

                <div ng-if="deploy.showDebug" class="umb-deploy-debug">
                    <div class="umb-deploy-debug-console-wrapper">
                        <div class="umb-deploy-debug-console" ng-bind-html="deploy.trace|safe_html"></div>
                    </div>
                    <umb-button type="button"
                                button-style="outline"
                                action="copyDebugToClipboard()"
                                label="Copy to clipboard">
                    </umb-button>
                </div>

            </div>

            <!-- Add workspace -->
            <div ng-switch-when="addWorkspace">
                <ud-workspace-add
                    on-add-workspace="addWorkspaceInPortal(config.ProjectUrl)">
                </ud-workspace-add>
            </div>

            <!-- Info -->
            <div ng-switch-when="info">
                <ud-workspace-info
                    website-url="{{ getActiveWorkspace().Url }}"
                    umbraco-url="{{ getActiveWorkspace().UmbracoUrl }}"
                    project-url="{{ config.ProjectUrl }}"
                    project-name="{{ config.ProjectName }}"
                    allow-manage-workspaces="allowManageWorkspaces">
                </ud-workspace-info>
            </div>

            <!-- Connect local -->
            <div ng-switch-when="connect">
                <ud-connect-local ng-if="allowManageWorkspaces"
                                  git-url="{{ config.Workspaces[1].Git }}">
                </ud-connect-local>

                <div ng-if="!allowManageWorkspaces">
                    Umbraco Deploy allows you to work locally and will keep your Umbraco schema up to date and allow you to sync content from upstream sources.
                </div>
            </div>

        </ud-infobox>
    </div>
</div>
