@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<CallToActionBlock>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var link = Model.Content.Link;
    if (link is null)
    {
        return;
    }
}

<a class="call-to-action" href="@link.Url" target="@link.Target">@link.Name</a>