@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Diversity, SectionSettings>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var backgroundColor = Model.Settings.BackgroundColor;
}

<section class="diversity" style="background-color: @backgroundColor">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</section>
