@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<HeadlineBlock>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<h2>@Model.Content.Headline</h2>