@using Umbraco.Extensions;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<InspirationBlock, SectionSettingsBlock>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var backgroundColor = Model.Settings.BackgroundColor;
    var hasBrightContrast = Model.Settings.Contrast == "ffffff";
}

<section 
    class="inspiration" 
    style="background-color:@backgroundColor"
    @(hasBrightContrast ? "bright-contrast" : null)>
    <div class="area-container">
        <div class="left-area">
            @await Html.GetBlockGridItemAreaHtmlAsync(Model, "leftArea")
        </div>
        <div class="right-area">
            @await Html.GetBlockGridItemAreaHtmlAsync(Model, "rightArea")
        </div>
        <div class="content-area">
            @await Html.GetBlockGridItemAreaHtmlAsync(Model, "contentArea")
        </div>
    </div>
</section>
