@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<OneColumnSectionBlock, SectionSettingsBlock>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var backgroundColor = Model.Settings.BackgroundColor;
    var noBackgroundColor = string.IsNullOrEmpty(backgroundColor);
}

<section class="one-column" style="background-color:#@backgroundColor" @(noBackgroundColor ? "nobackgroundcolor" : null)>
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</section>
