@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var settings = (ContentModels.SectionSettings)Model.Settings;
    string? backgroundColor = settings.BackgroundColor;
    bool noBackgroundColor = string.IsNullOrEmpty(backgroundColor);
}

<section class="one-column" style="background-color:@backgroundColor" @(noBackgroundColor ? "nobackgroundcolor" : null)>
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</section>
