@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<RichTextBlock>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<div class="rich-text">@Model.Content.RichText</div>