@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.RichTextBlock)Model.Content;
}

<div class="rich-text @(Model.ColumnSpan == 12 ? "--two-columns" : null)">@content.RichText</div>