@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<TwoColumnSection, SectionSettings>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var backgroundColor = Model.Settings.BackgroundColor;
    var noBackgroundColor = String.IsNullOrEmpty(backgroundColor);
}

<section style="background-color:@backgroundColor" @(noBackgroundColor ? "nobackgroundcolor" : null)>
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</section>
