<div class="umb-dialog" ng-controller="UmbracoDeploy.AddToQueueDialogController as vm">
    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
    <div class="umb-pane" ng-cloak ng-if="vm.loading == false">
        <div ng-if="vm.addedToQueue == false">
            <localize key="dialogs_deployAddToQueueDescription" tokens="[vm.item.name, vm.deployConfiguration.Target.Name]"></localize>
            <hr ng-if="vm.withBranch || vm.contentHasVariants || vm.isContent" />

            <div ng-if="vm.withBranch" class="mb4">
                <label><localize key="dialogs_deployAddToQueueChildPageDescription" tokens="[vm.item.name, vm.deployConfiguration.Target.Name]"></localize></label>
                <umb-checkbox value="vm.includeDescendants"
                              model="vm.includeDescendants"
                              name="includeDescendants"
                              label-key="dialogs_deployIncludeChildPages">
                </umb-checkbox>
            </div>

            <div ng-if="vm.contentHasVariants" class="mb4">
                <label><localize key="dialogs_deployAddToQueueCultureDescription"></localize></label>
                <select ng-model="vm.includeCulture" ng-options="language.culture as language.name for (culture, language) in vm.languages"></select>
            </div>

            <div ng-if="vm.isContent" class="mb4">
                <label><localize key="dialogs_deployAddToQueueReleaseDateDescription"></localize></label>
                <div class="date-wrapper__date" style="padding-left: 0; border-left: none">
                    <div class="btn-group flex">
                        <umb-date-time-picker ng-model="vm.releaseDate"
                                              options="vm.releaseDateConfig"
                                              on-change="vm.releaseDateChange(selectedDates, dateStr, instance)">
                            <div>
                                <button type="button" ng-show="vm.releaseDate != null" class="btn btn-reset umb-button--xs">
                                    {{vm.releaseDate}}
                                </button>

                                <button type="button" class="btn-reset" ng-hide="vm.releaseDate != null">
                                    <localize key="content_setDate">Set Publish Date</localize>
                                </button>
                            </div>
                        </umb-date-time-picker>

                        <button type="button" ng-show="vm.releaseDate" ng-click="vm.releaseDate = null" class="btn btn-reset umb-button--xs dropdown-toggle">
                            <umb-icon icon="icon-wrong"></umb-icon>
                        </button>
                    </div>
                </div>
            </div>

            <umb-button type="button"
                        button-style="success"
                        action="vm.addToQueue()"
                        label="Queue">
            </umb-button>
        </div>
        <div ng-if="vm.addedToQueue">
            <localize key="dialogs_deployAddToQueueDone" tokens="[vm.item.name, vm.deployConfiguration.Target.Name]"></localize>

            <umb-button type="button"
                        action="vm.openTransferQueue()"
                        label-key="sections_deployOpenQueue">
            </umb-button>
            <umb-button type="button"
                        button-style="success"
                        action="vm.closeDialog()"
                        label-key="close">
            </umb-button>
        </div>
    </div>
</div>
