<div class="umb-dialog" id="um-deploy-partial-restore-dialog" ng-controller="UmbracoDeploy.CompareDialogController as vm">

    <div class="umb-dialog-body">

        <div class="umb-pane umb-deploy-compare" ng-cloak>

            <div class="flex items-center umb-deploy-compare-selection-detail">
                <span>Comparing</span>
                <div class="umb-deploy-compare-selection-detail-node"><i ng-if="vm.compareNode.icon" class="{{vm.compareNode.icon}}"></i> <b>{{vm.compareNode.name}}</b></div>
                <div ng-if="vm.contentHasVariants">
                    <span>in</span>
                    <select ng-model="vm.selectedLanguage" ng-change="vm.changeLanguage()" ng-options="language.name for language in vm.languages"></select>
                </div>
                <span>between the current and</span>
                <div class="btn-group umb-deploy-compare-selection-detail-workspace">
                    <umb-button type="button"
                                button-style="outline"
                                action="vm.workspaceDropDownOpen = !vm.workspaceDropDownOpen"
                                label="{{vm.compareWorkspace.Name}}"
                                show-caret="true">
                    </umb-button>

                    <umb-dropdown ng-if="vm.workspaceDropDownOpen" on-close="vm.workspaceDropDownOpen = false">
                        <umb-dropdown-item ng-repeat="workspace in vm.config.RestoreWorkspaces">
                            <a href ng-click="vm.changeDestination(workspace); vm.workspaceDropDownOpen = false"><i class="icon icon-globe-alt"></i> {{ workspace.Name }}</a>
                        </umb-dropdown-item>
                    </umb-dropdown>
                </div>
                <span>workspace.</span>
            </div>

            <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

            <div ng-show="!vm.loading && !vm.comparableContentFound">
                <p>{{vm.nonComparableContentMessage}}</p>
            </div>

            <div ng-show="!vm.loading && vm.comparableContentFound" class="umb-deploy-compare-diff">

                <h2>Summary Information</h2>

                <table class="table table-condensed table-bordered umb-deploy-compare-diff-summary-table">
                    <tr>
                        <td></td>
                        <th>Current</th>
                        <th>{{vm.compareWorkspace.Name}}</th>
                    </tr>
                    <tr>
                        <th>Last Edited On</th>
                        <td>{{vm.localLastUpdatedOn | date:'medium'}}</td>
                        <td>{{vm.remoteLastUpdatedOn | date:'medium'}}</td>
                    </tr>
                    <tr>
                        <th>Last Edited By</th>
                        <td>{{vm.localLastUpdatedBy}}</td>
                        <td>{{vm.remoteLastUpdatedBy}}</td>
                    </tr>
                    <tr>
                        <th>Parent Node</th>
                        <td>{{vm.localParentName}}</td>
                        <td>{{vm.remoteParentName}}</td>
                    </tr>
                    <tr>
                        <th>Number of Child Nodes</th>
                        <td>{{vm.localNumberOfChildren}}</td>
                        <td>{{vm.remoteNumberOfChildren}}</td>
                    </tr>
                    <tr>
                        <th>URL</th>
                        <td><a href="{{vm.localUrl}}" target="_blank">{{vm.localUrl}}</a></td>
                        <td><a href="{{vm.remoteUrl}}" target="_blank">{{vm.remoteUrl}}</a></td>
                    </tr>
                    <tr>
                        <th>Publish at</th>
                        <td>{{vm.localReleaseDate | date:'medium'}}</td>
                        <td>{{vm.remoteReleaseDate | date:'medium'}}</td>
                    </tr>
                    <tr>
                        <th>Remove at</th>
                        <td>{{vm.localExpireDate | date:'medium'}}</td>
                        <td>{{vm.remoteExpireDate | date:'medium'}}</td>
                    </tr>
                </table>

                <h2>Field Comparison</h2>

                <div class="umb-deploy-compare-diff-explain">
                    <p>The following table shows the differences between the versions in the two workspaces at the level of each field.</p>
                    <p>If deploying, <del>red information</del> will be removed after the operation completes, <ins>green text</ins> will be added.</p>
                    <p>If restoring, the opposite replacement will occur.</p>
                </div>

                <table class="table table-condensed table-bordered">
                    <tbody>
                        <tr>
                            <td class="bold">
                                <localize key="general_name">Name</localize>
                            </td>
                            <td>
                                <span ng-repeat="part in vm.diff.name track by $id(part)">
                                    <ins ng-if="part.added">{{part.value}}</ins>
                                    <del ng-if="part.removed">{{part.value}}</del>
                                    <span ng-if="!part.added && !part.removed">{{part.value}}</span>
                                </span>
                            </td>
                        </tr>
                        <tr ng-repeat="property in vm.diff.properties track by property.alias">
                            <td class="bold">{{property.label}}</td>
                            <!-- HTML comments below are necessary to preserve formatting of pre styled JSON.  Don't reformat! -->
                            <td ng-class="{'pre': property.isObject, 'word-wrap': !property.isObject}"><!--
                                --><span ng-repeat="part in property.diff track by $id(part)"><!--
                                --><ins ng-if="part.added">{{part.value}}</ins><!--
                                --><del ng-if="part.removed">{{part.value}}</del><!--
                                --><span ng-if="!part.added && !part.removed">{{part.value}}</span><!--
                                --></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <button type="button" class="btn umb-button__button" ng-click="vm.queueForTransfer()" ng-show="vm.canTransfer">
            <localize key="actions_deployQueueForTransfer">Queue For Transfer</localize>
        </button>
        <button type="button" class="btn umb-button__button" ng-click="vm.transferNow()" ng-show="vm.canTransfer">
            <localize key="actions_deployTransferNow">Transfer Now</localize>
        </button>
        <button type="button" class="btn umb-button__button" ng-click="vm.partialRestore()" ng-show="vm.canRestore">
            <localize key="actions_deployPartialRestore">Partial Restore</localize>
        </button>
        <button type="button" class="btn btn-link" ng-click="vm.close()">
            <localize key="general_close">Close</localize>
        </button>
    </div>

</div>

