<style>

    button {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        text-align: left;
        padding: 0;
        user-select: none;
        border: none;
    }

</style>

<button class="card"
        ng-class="{'--medium': block.layout.columnSpan === 6}"
        type="button"
        ng-click="block.edit()"
        ng-focus="block.focus">

    {{mediaItem = (block.data.image[0].mediaKey | mediaItemResolver); ""}}

    <div class="card-media">
        <img draggable="false" ng-if="mediaItem !== null" ng-src="{{mediaItem.mediaLink}}?width=720" alt="{{mediaItem.name}}" />
    </div>
    <div class="card-content">
        <h4>{{block.data.headline}}</h4>
        <div ng-bind-html="block.data.richText"></div>
    </div>

</button>