<div id="deployManagementDashboard" ng-controller="UmbracoDeploy.ManagementDashboardController as vm">

    <div ng-if="vm.isLicensed">

        <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

        <div id="deploy-dashboard-anchor-links" class="dashboard-anchor-links">
            Jump to:
            <a href="" ng-click="vm.scrollToId('deploy-dashboard-status')">Deploy Status</a>
            |
            <a href="" ng-click="vm.scrollToId('deploy-dashboard-operations')">Deploy Operations</a>
            |
            <a href="" ng-click="vm.scrollToId('deploy-dashboard-download-artifacts')">Download Deploy Artifacts</a>
            |
            <a href="" ng-click="vm.scrollToId('deploy-dashboard-configuration')">Configuration Details</a>
            |
            <a href="" ng-click="vm.scrollToId('deploy-dashboard-schema-comparison')">Schema Comparison</a>
        </div>

        <div class="umb-panel-group__details-group" id="deploy-dashboard-status">

            <div class="umb-panel-group__details-group-title">
                <div class="umb-panel-group__details-group-name">
                    <localize key="deployManagementDashboard_deployStatus">Deploy Status</localize>
                </div>
            </div>
            <div class="umb-panel-group__details-checks">
                <div class="umb-panel-group__details-check">
                    <div class="umb-panel-group__details-status">
                        <div class="umb-panel-group__details-status-content">
                            <table class="status-display" !vm.loading && vm.dashboard>
                                <tr>
                                    <th>
                                        <localize key="deployManagementDashboard_version">Version</localize>:
                                    </th>
                                    <td>{{vm.dashboard.version}}</td>
                                </tr>
                                <tr>
                                    <th>
                                        <localize key="deployManagementDashboard_status">Status</localize>:
                                    </th>
                                    <td>
                                        {{vm.dashboard.status.message}}
                                        <span ng-show="vm.dashboard.status.lastOperationFailed">
                                            (<a href="" ng-click="vm.toggleFailedOperationDetail()">view details</a>)
                                        </span>
                                    </td>
                                </tr>
                                <tr ng-show="vm.showFailedOperationDetail">
                                    <td></td>
                                    <td class="umb-deploy-failed-operation-detail">
                                        <div class="umb-deploy-debug-console-wrapper">
                                            <div class="umb-deploy-debug-console">{{vm.failedOperationDetail}}</div>
                                        </div>
                                        <umb-button type="button"
                                                    button-style="outline"
                                                    action="vm.copyFailedOperationDetailToClipboard()"
                                                    label="Copy to clipboard">
                                        </umb-button>
                                    </td>
                                </tr>
                                <tr ng-show="vm.dashboard.status.formattedDateTime">
                                    <th>
                                        <localize key="deployManagementDashboard_operationTime">Operation time</localize>:
                                    </th>
                                    <td>{{vm.dashboard.status.formattedDateTime}}</td>
                                </tr>
                            </table>
                            <div>
                                <div>
                                    <button type="button" ng-click="vm.refreshAll()" class="btn btn-success">
                                        <localize key="deployManagementDashboard_refreshStatus">
                                            Refresh status
                                        </localize>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-back-to-anchor-links">
            <a ng-click="vm.scrollToId('deploy-dashboard-anchor-links')">
                &#11172; Back to top
            </a>
        </div>

        <br />

        <div class="umb-panel-group__details-group" id="deploy-dashboard-operations">
            <div class="umb-panel-group__details-group-title">
                <div class="umb-panel-group__details-group-name">
                    <localize key="deployManagementDashboard_deployOperations">Deploy Operations</localize>
                </div>
            </div>
            <div class="umb-panel-group__details-checks">
                <div class="umb-panel-group__details-check">
                    <div class="umb-panel-group__details-check-title">
                        <div class="umb-panel-group__details-check-name">
                            <localize key="deployManagementDashboard_updateUmbracoSchemaFromDataFiles" class="ng-isolate-scope">Update Umbraco Schema From Data Files</localize>
                        </div>
                        <div class="umb-panel-group__details-check-description">
                            <localize key="deployManagementDashboard_updateUmbracoSchemaFromDataFilesDescription">
                                Update the Umbraco schema based on the information contained in the .uda files on disk.
                            </localize>
                        </div>
                        <div class="umb-panel-group__details-status-actions">
                            <div class="umb-panel-group__details-status-action no-background no-left-padding">
                                <button type="button" ng-click="vm.triggerOperation('deploy')" class="btn btn-danger">
                                    <localize key="deployManagementDashboard_schemaDeployment">Update Umbraco Schema</localize>
                                </button>
                                <p class="operation-message" ng-show="vm.operationMessage.length > 0 && vm.triggeredOperation === 'deploy'">{{vm.operationMessage}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="umb-panel-group__details-check">
                    <div class="umb-panel-group__details-check-title top-border">
                        <div class="umb-panel-group__details-check-name">
                            <localize key="deployManagementDashboard_exportSchemaToDataFiles" class="ng-isolate-scope">Export Schema To Data Files</localize>
                        </div>
                        <div class="umb-panel-group__details-check-description">
                            <localize key="deployManagementDashboard_exportSchemaToDataFilesDescription">
                                Extract the schema from Umbraco and output it to the .uda files on disk.
                            </localize>
                        </div>
                        <div class="umb-panel-group__details-status-actions">
                            <div class="umb-panel-group__details-status-action no-background no-left-padding">
                                <button type="button" ng-click="vm.triggerOperation('deploy-export')" class="btn btn-danger">
                                    <localize key="deployManagementDashboard_exportSchema">Export Schema</localize>
                                </button>
                                <p class="operation-message" ng-show="vm.operationMessage.length > 0 && vm.triggeredOperation === 'deploy-export'">{{vm.operationMessage}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="umb-panel-group__details-check">
                    <div class="umb-panel-group__details-check-title top-border">
                        <div class="umb-panel-group__details-check-name">
                            <localize key="deployManagementDashboard_clearCachedSignatures" class="ng-isolate-scope">Clear Cached Signatures</localize>
                        </div>
                        <div class="umb-panel-group__details-check-description">
                            <localize key="deployManagementDashboard_clearCachedSignaturesDescription">
                                Clear the cached artifact signatures from the Umbraco environment.<br />
                                This should not be necessary in normal use. This may solve reports of schema mismatches when transferring content between environments that have been aligned.
                            </localize>
                        </div>
                        <div class="umb-panel-group__details-status-actions">
                            <div class="umb-panel-group__details-status-action no-background no-left-padding">
                                <button type="button" ng-click="vm.triggerOperation('deploy-clearsignatures')" class="btn btn-danger">
                                    <localize key="deployManagementDashboard_clearSignatures">Clear Signatures</localize>
                                </button>
                                <p class="operation-message" ng-show="vm.operationMessage.length > 0 && vm.triggeredOperation === 'deploy-clearsignatures'">{{vm.operationMessage}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-back-to-anchor-links">
            <a ng-click="vm.scrollToId('deploy-dashboard-anchor-links')">
                &#11172; Back to top
            </a>
        </div>
        <br />

        <div class="umb-panel-group__details-group" id="deploy-dashboard-download-artifacts">
            <div class="umb-panel-group__details-group-title">
                <div class="umb-panel-group__details-group-name">
                    <localize key="deployManagementDashboard_downloadDeployArtifacts">Download Deploy Artifacts</localize>
                </div>
            </div>
            <div class="umb-panel-group__details-checks">
                <div class="umb-panel-group__details-check">
                    <div class="umb-panel-group__details-check-title">
                        <div class="umb-panel-group__details-check-name">
                            <localize key="deployManagementDashboard_schemaFiles" class="ng-isolate-scope">Schema Files</localize>
                        </div>
                        <div class="umb-panel-group__details-check-description">
                            <localize key="deployManagementDashboard_downloadDeployArtifactsDescription">
                                This will download a zip with all Deploy artifacts representing Umbraco schema in the form of .uda files.
                                These files are useful if you want to move to another Umbraco instance and migrate your data.
                            </localize>
                        </div>
                        <div class="umb-panel-group__details-status-actions">
                            <div class="umb-panel-group__details-status-action no-background no-left-padding">
                                <button type="button" ng-click="vm.downloadDeployArtifacts()" class="btn btn-danger">
                                    <localize key="deployManagementDashboard_triggerDownload">Download</localize>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-back-to-anchor-links">
            <a ng-click="vm.scrollToId('deploy-dashboard-anchor-links')">
                &#11172; Back to top
            </a>
        </div>

        <br />

        <div class="umb-panel-group__details-group" id="deploy-dashboard-configuration">
            <div class="umb-panel-group__details-group-title">
                <div class="umb-panel-group__details-group-name">
                    <localize key="deployManagementDashboard_configurationDetails">Configuration Details</localize>
                </div>
            </div>
            <div class="umb-panel-group__details-check">
                <div class="umb-panel-group__details-status">
                    <div class="umb-panel-group__details-status-content">
                        <p>The current environment's configuration is as follows. Updates should be applied to the <i>appsettings.json</i> file.</p>
                        <table class="table table-condensed table-bordered configuration-details">
                            <tr>
                                <th></th>
                                <th>Setting Options</th>
                                <th>Current Value(s)</th>
                                <th>Notes</th>
                            </tr>
                            <tr>
                                <th>Excluded Entity Types</th>
                                <td class="pre">"ExcludedEntityTypes": []</td>
                                <td>
                                    <div ng-repeat="entityType in vm.configurationDetails.excludedEntityTypes">
                                        <b>{{entityType}}</b><br />
                                    </div>
                                </td>
                                <td>
                                    <p>Optionally entity types can be excluded from deployment operations.</p>
                                    <p><a href="https://our.umbraco.com/Documentation/Add-ons/Umbraco-Deploy/Deploy-Settings/#excludedentitytypes" target="_blank">Read more</a></p>
                                </td>
                            </tr>
                            <tr>
                                <th>Ignore Broken Dependencies Behaviour</th>
                                <td class="pre">"IgnoreBrokenDependencies": true|false,
"IgnoreBrokenDependenciesBehavior": "None|Transfer|Restore|All"</td>
                                <td><b>{{vm.configurationDetails.ignoreBrokenDependencies}}<br />{{vm.configurationDetails.ignoreBrokenDependenciesBehavior}}</b></td>
                                <td>
                                    <p>When restoring or transferring content, Umbraco Deploy will make checks to ensure that any dependent content, media or other items are either present in the target environment, or can be deployed from the source environment.</p>
                                    <p>For example, if you have a media picker on a content item, that references a media item that's been deleted or is in the recycle bin, you'll get an error and the deploy won't complete until the issue is resolved (by removing the reference to the deleted media item).</p>
                                    <p>You can configure deploy to ignore these issues and proceed with the transfer operation without warning, by amending this setting.</p>
                                    <p><a href="https://our.umbraco.com/Documentation/Add-ons/Umbraco-Deploy/Deploy-Settings/#ignore-broken-dependencies" target="_blank">Read more</a></p>
                                </td>
                            </tr>
                            <tr>
                                <th>Timeout Settings</th>
                                <td class="pre">"SessionTimeout": "0.0:20:00",
"SourceDeployTimeout": "0.0:20:00",
"DatabaseCommandTimeout": "0.0:20:00",
"HttpClientTimeout": "0.0:20:00",
"DiskOperationsTimeout": "0.0:05:00"</td>
                                <td>
                                    <b>{{vm.configurationDetails.sessionTimeout}}</b><br />
                                    <b>{{vm.configurationDetails.sourceDeployTimeout}}</b><br />
                                    <b>{{vm.configurationDetails.httpClientTimeout}}</b><br />
                                    <b>{{vm.configurationDetails.databaseCommandTimeout}}</b><br />
                                    <b>{{vm.configurationDetails.diskOperationsTimeout}}</b>
                                </td>
                                <td>
                                    <p>Umbraco Deploy has a few built-in timeouts, which on larger sites might need to be modified.</p>
                                    <p><a href="https://our.umbraco.com/Documentation/Add-ons/Umbraco-Deploy/Deploy-Settings/#timeout-settings" target="_blank">Read more</a></p>
                                </td>
                            </tr>
                            <tr>
                                <th>Batch Settings</th>
                                <td class="pre">"SourceDeployBatchSize": null|number</td>
                                <td><b>{{vm.configurationDetails.sourceDeployBatchSize || 'null'}}</b></td>
                                <td>
                                    <p>If connection issues that can't be resolved by adjusting timeouts are regularly hit when deploying large amnounts of content or media, a batch size can be configured.</p>
                                    <p>When set, if the number of items exceeds the batch size, the transfer will be chunked into batches for processing.</p>
                                    <p><a href="https://our.umbraco.com/Documentation/Add-ons/Umbraco-Deploy/Deploy-Settings/#batch-settings" target="_blank">Read more</a></p>
                                </td>
                            </tr>
                            <tr>
                                <th>Transfer Forms Behaviour</th>
                                <td class="pre">"TransferFormsAsContent": true|false</td>
                                <td><b>{{vm.configurationDetails.transferFormsAsContent}}</b></td>
                                <td>
                                    <p>Forms can be transferred as schema (i.e. serialized to .uda files on disk) or as content via the backoffice.</p>
                                    <p><a href="https://our.umbraco.com/Documentation/Add-ons/Umbraco-Deploy/Deploy-Settings/#transfer-forms-data-as-content" target="_blank">Read more</a></p>
                                </td>
                            </tr>
                            <tr>
                                <th>Transfer Dictionary Items Behaviour</th>
                                <td class="pre">"TransferDictionaryAsContent": true|false</td>
                                <td><b>{{vm.configurationDetails.transferDictionaryAsContent}}</b></td>
                                <td>
                                    <p>Dictionary items can be transferred as schema (i.e. serialized to .uda files on disk) or as content via the backoffice.</p>
                                    <p><a href="https://our.umbraco.com/Documentation/Add-ons/Umbraco-Deploy/Deploy-Settings/#transfer-dictionary-items-as-content" target="_blank">Read more</a></p>
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="2">Transfer Members Behaviour</th>
                                <td class="pre">"ExportMemberGroups": true|false</td>
                                <td><b>{{vm.configurationDetails.exportMemberGroups}}</b></td>
                                <td>
                                    <p>By default, member groups are transferred as schema items unless they are disabled via this configuration.</p>
                                    <p><a href="https://our.umbraco.com/Documentation/Add-ons/Umbraco-Deploy/Deploy-Settings/#exporting-member-groups" target="_blank">Read more</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="pre">"AllowMembersDeploymentOperations": "None|Transfer|Restore|All",
"TransferMemberGroupsAsContent": true|false</td>
                                <td>
                                    <b>{{vm.configurationDetails.allowMembersDeploymentOperations}}</b><br />
                                    <b>{{vm.configurationDetails.transferMemberGroupsAsContent}}</b>
                                </td>
                                <td>
                                    <p>Members, and optionally also member groups, can be transferred via the backoffice if the feature is enabled using these settings.</p>
                                    <p><a href="https://our.umbraco.com/Documentation/Add-ons/Umbraco-Deploy/Deploy-Settings/#transfer-members" target="_blank">Read more</a></p>
                                </td>
                            </tr>
                            <tr>
                                <th>Domains Deployment</th>
                                <td class="pre">"AllowDomainsDeploymentOperations": "None|Culture|AbsolutePath|Hostname|All"</td>
                                <td><b>{{vm.configurationDetails.allowDomainsDeploymentOperations}}</b></td>
                                <td>
                                    <p>When restoring or transferring content for culture invariant content, the information managed under "Culture &amp; Hostnames" can be transferred between environments using Umbraco Deploy.</p>
                                    <p>To enable this, set the configuration value as appropriate for the types of domains you want to allow:</p>
                                    <ul>
                                        <li><b>Culture</b> - selected culture for the content</li>
                                        <li><b>AbsolutePath</b> - values defined under "Domains" with an absolute path, e.g. "/en"</li>
                                        <li><b>Hostname</b> - values defined under "Domains" with a full host name, e.g. "en.mysite.com"</li>
                                    </ul>
                                    <p>Combinations of settings can be applied, e.g. <b>Hostname,AbsolutePath</b></p>                 
                                    <p><a href="https://our.umbraco.com/Documentation/Add-ons/Umbraco-Deploy/Deploy-Settings/#deployment-of-culture--hostnames-settings" target="_blank">Read more</a></p>
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="2">Memory Cache Reload</th>
                                <td class="pre">"ReloadMemoryCacheFollowingDiskReadOperation": true|false</td>
                                <td><b>{{vm.configurationDetails.reloadMemoryCacheFollowingDiskReadOperation}}</b></td>
                                <td>
                                    <p>Some customers have reported sporadic issues with Umbraco's memory cache following deploy operations where schema information in Umbraco is updated from the serialized .uda files.</p>
                                    <p>These can be resolved manually by reloading the memory cache via the <i>Settings &gt; Published Status &gt; Caches </i> dashboard.</p>
                                    <p>This configuration option can be used to enable an automated reload of this cache.</p>
                                    <p><a href="https://our.umbraco.com/Documentation/Add-ons/Umbraco-Deploy/Deploy-Settings/#exporting-member-groups" target="_blank">Read more</a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-back-to-anchor-links">
            <a ng-click="vm.scrollToId('deploy-dashboard-anchor-links')">
                &#11172; Back to top
            </a>
        </div>

        <br />

        <div class="umb-panel-group__details-group" id="deploy-dashboard-schema-comparison">
            <div class="umb-panel-group__details-group-title">
                <div class="umb-panel-group__details-group-name">
                    <localize key="deployManagementDashboard_schemaComparison">Schema Comparison</localize>
                </div>
            </div>
            <div class="umb-panel-group__details-checks">
                <div class="umb-panel-group__details-check">
                    <div class="umb-panel-group__details-status">
                        <div class="umb-panel-group__details-status-content">
                            <p>
                                The following table shows the schema information managed by Umbraco Deploy. A comparison
                                between the information held in Umbraco and that in the .uda files found on disk (in
                                /data/revision) is shown.
                            </p>
                            <p>
                                If any differences exist, a <i>Schema Deployment From Data Files</i> (to update Umbraco) or
                                an <i>Extract Schema To Data Files</i> (to update the .uda files) operation can be triggered
                                to align the information.
                            </p>

                            <div class="dashboard-anchor-links" id="deploy-schema-comparison-anchor-links">
                                <div>Jump to:</div>
                                <span ng-repeat="(entityType, comparisonData) in vm.schemaComparison">
                                    <a ng-click="vm.scrollToEntityType($index)">{{entityType}}</a>
                                    <i class="icon icon-alert-alt" ng-if="vm.hasOutOfDateItem(comparisonData)"></i>
                                    <span ng-hide="$last">|</span>
                                </span>
                            </div>

                            <div ng-repeat="(entityType, comparisonData) in vm.schemaComparison">
                                <h2 id="deploy-schema-comparison-{{$index}}">
                                    {{entityType}}
                                    <span>- {{vm.getSchemaComparisonSummary(comparisonData)}}</span>
                                </h2>
                                <table class="table table-condensed table-bordered schema-comparison">
                                    <tr>
                                        <th><a href="" ng-click="vm.sortSchemaComparison(entityType, 'label')">Name</a></th>
                                        <th class="schema-comparison-file"><a href="" ng-click="vm.sortSchemaComparison(entityType, 'filename')">File</a></th>
                                        <th class="schema-comparison-icon"><a href="" ng-click="vm.sortSchemaComparison(entityType, 'umbracoExists')">Exists In Umbraco</a></th>
                                        <th class="schema-comparison-icon"><a href="" ng-click="vm.sortSchemaComparison(entityType, 'fileExists')">File Exists</a></th>
                                        <th class="schema-comparison-icon">Is Up To Date</th>
                                        <th class="schema-comparison-details"></th>
                                    </tr>
                                    <tr ng-repeat="item in comparisonData">
                                        <td>{{item.label}}</td>
                                        <td class="schema-comparison-file">{{(item.filename)}}</td>
                                        <td class="schema-comparison-icon">
                                            <i class="icon"
                                               ng-class="{true:'icon-check', false:'icon-alert-alt'}[item.umbracoExists]"></i>
                                        </td>
                                        <td class="schema-comparison-icon">
                                            <i class="icon"
                                               ng-class="{true:'icon-check', false:'icon-alert-alt'}[item.fileExists]"></i>
                                        </td>
                                        <td class="schema-comparison-icon">
                                            <i class="icon" ng-if="item.umbracoExists && item.fileExists"
                                               ng-class="{true:'icon-check', false:'icon-alert-alt'}[item.isUpToDate]"></i>
                                        </td>
                                        <td class="schema-comparison-details">
                                            <a class="schema-comparison-show-detail"
                                               ng-click="vm.showSchemaComparisonDetails(entityType, item.label, item.udi)">
                                                View Details
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                                <div class="dashboard-back-to-anchor-links">
                                    <a ng-click="vm.scrollToAnchorLinks()">
                                        &#11172; Back to top
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-back-to-anchor-links">
            <a ng-click="vm.scrollToId('deploy-dashboard-anchor-links')">
                &#11172; Back to top
            </a>
        </div>
    </div>

    <umb-box ng-if="!vm.isLicensed">
        <umb-box-content>
            <div>
                Umbraco Deploy is not licensed.
            </div>
        </umb-box-content>
    </umb-box>

</div>
